<template>
  <div id="images" class="wrapper">
    <div class="md-layout">
      <div
        class="md-layout-item md-size-20 md-xsmall-size-100"
        :class="{ 'text-center': responsive }"
      >
        <img
          :src="image"
          alt="Rounded Image"
          class="img-raised rounded"
          :class="{ 'responsive-image': responsive }"
        />
      </div>
      <div
        class="md-layout-item md-size-20 md-xsmall-size-100 ml-auto"
        :class="{ 'text-center': responsive }"
      >
        <img
          :src="image2"
          alt="Circle Image"
          class="img-raised rounded"
          :class="{ 'responsive-image': responsive }"
        />
      </div>
      <div
        class="md-layout-item md-size-20 md-xsmall-size-100 ml-auto"
        :class="{ 'text-center': responsive }"
      >
        <img
          :src="image3"
          alt="Raised Image"
          class="img-raised rounded"
          :class="{ 'responsive-image': responsive }"
        />
      </div>
      <div
        class="md-layout-item md-size-20 md-xsmall-size-100 ml-auto"
        :class="{ 'text-center': responsive }"
      >
        <img
          :src="image4"
          alt="Thumbnail Image"
          class="img-raised rounded"
          :class="{ 'responsive-image': responsive }"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      image:
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6221_uia15e.jpg",
      image2:
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6213_s7ijjp.jpg",
      image3:
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6218_fypg07.jpg",
      image4:
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/shoot-bw/IMG_6207_tyrscw.jpg",
      responsive: false
    }
  },
  methods: {
    onResponsiveInverted() {
      if (window.innerWidth < 600) {
        this.responsive = true
      } else {
        this.responsive = false
      }
    }
  },
  mounted() {
    this.onResponsiveInverted()
    window.addEventListener("resize", this.onResponsiveInverted)
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResponsiveInverted)
  }
}
</script>

<style lang="css"></style>
