<template>
  <div id="slider" class="wrapper">
    <div class="md-layout">
      <div class="md-layout-item md-size-66 mx-auto md-small-size-100">
        <md-card>
          <carousel
            :per-page="1"
            loop
            :speed="700"
            autoplay
            :autoplay-timeout="5000"
            :mouse-drag="false"
            navigationEnabled
            navigationNextLabel="<i class='material-icons' style='color:red'>keyboard_arrow_right</i>"
            navigationPrevLabel="<i class='material-icons' style='color:red'>keyboard_arrow_left</i>"
          >
            <slide v-for="(image, index) in carouselImages" :key="index">
              <div class="md-layout md-gutter md-alignment-center-center">
                <img
                  :src="image"
                  :alt="`carousel${index}`"
                  class="mx-auto d-block"
                />
              </div>
            </slide>
          </carousel>
        </md-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      carouselImages: [
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/shoot-bw/IMG_6210_huqwrt.jpg",
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6214_zrse0e.jpg",
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323401/senami-model/shoot-bw/IMG_6212_dsutgl.jpg"
      ]
    }
  }
}
</script>
