<template>
  <div class="wrapper">
    <parallax class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>Senami</h1>
              <h3>Model</h3>
            </div>
          </div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised">
      <!-- Presentation section -->
      <div class="section">
        <div class="container text-center">
          <div class="md-layout">
            <div
              class="md-layout-item md-size-66 md-xsmall-size-100 ml-auto mr-auto text-center"
            >
              <h1 class="title">Hello!</h1>
              <h4 class="title">I'm Senami...</h4>
              <h3>
                <small>
                  Passionate about photography and the world of fashion since
                  very small, I'm interested in all artistic projects. A former
                  regular of beauty contests, I would like to flourish through
                  photography. I like to travel and wish to combine my two
                  passions.
                </small>
              </h3>

              <h3>
                <small>
                  From Paris to Montreal, I don’t intend to stop there.
                </small>
              </h3>

              <h4 class="title">
                Don't hesitate to contact me for any project.
              </h4>
            </div>
          </div>
        </div>
      </div>

      <!-- Slider section -->
      <div class="section section-signup page-header" :style="sliderImage">
        <div class="container">
          <slider-section />
        </div>
      </div>

      <!-- Contact section -->
      <div class="section section-contacts" id="contactMe">
        <div class="container">
          <div class="md-layout text-center">
            <div class="md-layout-item md-size-66 md-xsmall-size-100 mx-auto">
              <h2 class="text-center title">Work with me</h2>
              <h4 class="text-center description">
                If you love my book, please contact me
                <md-icon>favorite</md-icon>
              </h4>
              <form class="contact-form">
                <div class="md-layout">
                  <div class="md-layout-item md-size-50">
                    <md-field>
                      <label>Your Name</label>
                      <md-input v-model="contact.name" type="text"></md-input>
                    </md-field>
                  </div>
                  <div class="md-layout-item md-size-50">
                    <md-field>
                      <label>Your Email</label>
                      <md-input v-model="contact.email" type="email"></md-input>
                    </md-field>
                  </div>
                </div>
                <md-field maxlength="5">
                  <label>Your Message</label>
                  <md-textarea v-model="contact.message"></md-textarea>
                </md-field>
                <br />
                <div class="md-layout">
                  <div class="md-layout-item md-size-50 mx-auto text-center">
                    <md-button
                      class="md-success md-round contact-modal"
                      @click="contactModal = true"
                    >
                      <i class="fas fa-paper-plane"></i>
                      Send
                    </md-button>
                    <modal v-if="contactModal" @close="contactModalHide">
                      <template slot="header">
                        <h3 class="modal-title">
                          <i class="fas fa-tools"></i>
                          Under construction...
                        </h3>
                        <md-button
                          class="md-simple md-just-icon md-round modal-default-button"
                          @click="contactModalHide"
                        >
                          <md-icon>clear</md-icon>
                        </md-button>
                      </template>
                      <template slot="body">
                        <h4>
                          <i class="far fa-newspaper"></i>
                          It's coming soon!
                        </h4>
                      </template>
                    </modal>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="sharing-area text-center">
            <div class="md-layout">
              <div class="md-layout-item">
                <h3>Thank you for supporting my book!</h3>
              </div>
            </div>
            <md-button
              class="md-google"
              href="https://www.instagram.com/senamimodel/"
              target="_blank"
            >
              <i class="fab fa-instagram"></i> Share
            </md-button>
          </div>
        </div>
      </div>

      <!-- Images section -->
      <div class="section">
        <div class="container">
          <images-section />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Modal } from "@/components"
import ImagesSection from "./sections/ImagesSection"
import SliderSection from "./sections/SliderSection"

export default {
  components: {
    ImagesSection,
    SliderSection,
    Modal
  },
  name: "index",
  bodyClass: "index-page",
  props: {
    image: {
      type: String,
      default: require("@/assets/img/city-profile.jpg")
    },
    slider: {
      type: String,
      default: require("@/assets/img/fond-shooting.jpg")
    }
  },
  data() {
    return {
      contactModal: false,
      contact: {
        name: "",
        email: "",
        message: ""
      }
    }
  },
  methods: {
    contactModalHide() {
      this.contactModal = false
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.image})`
      }
    },
    sliderImage() {
      return {
        backgroundImage: `url(${this.slider})`
      }
    }
  }
}
</script>
<style lang="scss">
.section-contact {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
</style>
