<template>
  <div class="wrapper">
    <parallax
      class="section page-header header-filter"
      :style="headerStyle"
    ></parallax>
    <div class="main main-raised">
      <div class="section profile-content">
        <div class="container">
          <div class="md-layout">
            <div class="md-layout-item md-size-50 mx-auto">
              <div class="profile">
                <!-- Avatar -->
                <div class="avatar">
                  <img
                    :src="img"
                    alt="Circle Image"
                    class="img-raised rounded-circle img-fluid"
                  />
                </div>
                <!-- Name -->
                <div class="name">
                  <h3 class="title">Senami - model</h3>
                  <h6>Composite</h6>
                </div>
              </div>
            </div>
          </div>

          <!-- Composite -->
          <div class="md-layout md-gutter md-alignment-center composite">
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <md-icon>height</md-icon>
                HEIGHT 169 CM
                <md-tooltip md-direction="top">5'7</md-tooltip>
              </md-button>
            </div>
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <md-icon>straighten</md-icon>
                BUST 90 CM
                <md-tooltip md-direction="top">3'0</md-tooltip>
              </md-button>
            </div>
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <md-icon>360</md-icon>
                WAIST 75 CM
                <md-tooltip md-direction="top">2'6</md-tooltip>
              </md-button>
            </div>
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <md-icon>settings_ethernet</md-icon>
                HIPS 100 CM
                <md-tooltip md-direction="top">3'4</md-tooltip>
              </md-button>
            </div>
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <md-icon>monitor_weight</md-icon>
                WEIGHT 65 KG
              </md-button>
            </div>
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <i class="far fa-eye"></i>
                EYES BROWN
              </md-button>
            </div>
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <md-icon>content_cut</md-icon>
                HAIR BROWN
              </md-button>
            </div>
            <div
              class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-50 mx-auto"
            >
              <md-button class="md-simple md-round">
                <i class="fas fa-shoe-prints"></i>
                SHOES 39 EU
                <md-tooltip md-direction="bottom">8</md-tooltip>
              </md-button>
            </div>
          </div>

          <br />

          <!-- Galleries photos -->
          <div class="profile-tabs">
            <tabs
              :tab-name="['Studio', 'Natural', 'Portrait']"
              :tab-icon="['camera', 'eco', 'palette']"
              plain
              nav-pills-icons
              color-button="success"
            >
              <template slot="tab-pane-1">
                <gallery-component :gallery="gallerStudio" />
              </template>
              <template slot="tab-pane-2">
                <gallery-component :gallery="galleryNatural" />
              </template>
              <template slot="tab-pane-3">
                <gallery-component :gallery="galleryPortrait" />
              </template>
            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Tabs } from "@/components"
import GalleryComponent from "@/views/components/GalleryComponent"

export default {
  components: {
    Tabs,
    GalleryComponent
  },
  name: "profile",
  bodyClass: "profile-page",
  data() {
    return {
      gallerStudio: [
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/shoot-bw/IMG_6207_tyrscw.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/shoot-bw/IMG_6210_huqwrt.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323401/senami-model/shoot-bw/IMG_6212_dsutgl.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6214_zrse0e.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6217_zqtcf3.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6218_fypg07.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6221_uia15e.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323404/senami-model/shoot-coloc-creative/shoot-2_fjspl4.jpg",
          thumbnailHeight: 400,
          thumbnailWidth: 400,
          description:
            "Credit: @colocs.creatives, Stylist: @una.burla, MUA: @eve.makeup_artist"
        }
      ],
      galleryNatural: [
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/image0_lztycf.jpg",
          description: ""
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/image1_iaq2ng.jpg",
          description: ""
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/image2_b3qpqz.jpg",
          description: ""
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/image3_wicxj9.jpg",
          description: "Credit: @nestoret.johan.photographie"
        }
      ],
      galleryPortrait: [
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6213_s7ijjp.jpg",
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323403/senami-model/shoot-bw/IMG_6223_tiunz1.jpg",
          description: "Credit: @pmartinierephoto"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323404/senami-model/shoot-coloc-creative/shoot-1_uxftk6.jpg",
          description:
            "Credit: @colocs.creatives, Stylist: @una.burla, MUA: @eve.makeup_artist"
        },
        {
          src:
            "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323404/senami-model/shoot-coloc-creative/shoot-3_kkoc5f.jpg",
          description:
            "Credit: @colocs.creatives, Stylist: @una.burla, MUA: @eve.makeup_artist"
        }
      ],
      galleryOthers: []
    }
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/city-profile.jpg")
    },
    img: {
      type: String,
      default:
        "https://res.cloudinary.com/dqotpfwjs/image/upload/v1696323402/senami-model/image2_b3qpqz.jpg"
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
}

.profile-tabs::v-deep {
  .md-card-tabs .md-list {
    //justify-content: center;
    display: block;
    text-align: center;
  }

  .md-card-tabs .md-list li {
    display: inline-block;
  }

  [class*="tab-pane-"] {
    margin-top: 3.213rem;
    padding-bottom: 50px;

    img {
      margin-bottom: 2.142rem;
    }
  }
}

@media (min-width: 450px) {
  .composite {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}
</style>
