<template>
  <div id="material-kit">
    <div :class="{ 'nav-open': NavbarStore.showNavbar }">
      <router-view name="header" />
      <div>
        <router-view />
      </div>
      <scroll-top-component />
      <router-view name="footer" />
    </div>
  </div>
</template>
<script>
import ScrollTopComponent from "@/views/components/ScrollTopComponent"

export default {
  components: {
    ScrollTopComponent
  }
}
</script>
