<template>
  <div class="md-layout">
    <silent-box
      :gallery="gallery"
      class="md-layout md-gutter md-alignment-center-center"
    >
      <template v-slot:silentbox-item="{ silentboxItem }">
        <img
          loading="lazy"
          :src="silentboxItem.src"
          width="400"
          height="400"
          class="md-layout-item"
        />
      </template>
    </silent-box>
  </div>
</template>

<script>
export default {
  props: {
    gallery: Array
  }
}
</script>

<style></style>
