<template>
  <md-button
    class="md-success md-round bottom-right"
    @click="scrollTop"
    v-show="visible"
  >
    <md-icon class="md-size-3x"> keyboard_arrow_up </md-icon>
    <slot></slot
  ></md-button>
</template>

<script>
export default {
  name: "scroll-top",
  data() {
    return {
      visible: false
    }
  },
  methods: {
    scrollTop() {
      this.intervalId = setInterval(() => {
        if (window.pageYOffset === 0) {
          clearInterval(this.intervalId)
        }
        window.scroll(0, window.pageYOffset - 50)
      }, 10)
    },
    scrollListener(e) {
      this.visible = window.scrollY > 150
    }
  },
  mounted() {
    window.addEventListener("scroll", this.scrollListener)
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.scrollListener)
  }
}
</script>

<style scoped>
.bottom-right {
  position: fixed;
  bottom: 40px;
  right: 10px;

  z-index: 2;
  height: 60px;
  width: 60px;
  min-width: 60px;
  padding: 0;
  overflow: hidden;
  line-height: 60px;
  -webkit-box-align: center;
}
</style>
