<template>
  <md-toolbar
    id="toolbar"
    md-elevation="0"
    class="md-transparent md-absolute"
    :class="extraNavClasses"
    :color-on-scroll="colorOnScroll"
  >
    <div class="md-toolbar-row md-collapse-lateral">
      <div class="md-toolbar-section-start">
        <router-link to="/">
          <img
            src="img/logo-senamimodel-black.png"
            alt="logo"
            width="100"
            height="60"
            v-if="navbarTransparent"
          />
          <img
            src="img/logo-senamimodel-white.png"
            alt="logo"
            width="100"
            height="60"
            v-else
          />
        </router-link>
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          class="md-just-icon md-simple md-toolbar-toggle"
          :class="{ toggled: toggledClass }"
          @click="toggleNavbarMobile()"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </md-button>

        <div class="md-collapse">
          <div class="md-collapse-wrapper">
            <mobile-menu nav-mobile-section-start="false">
              <!-- Here you can add your items from the section-start of your toolbar -->
            </mobile-menu>
            <md-list>
              <md-list-item href="#/profile">
                <i class="material-icons">photo_camera</i>
                <p>Profile</p>
              </md-list-item>

              <md-list-item
                href="javascript:void(0)"
                @click="scrollToElement()"
              >
                <i class="material-icons">email</i>
                <p>Contact me</p>
              </md-list-item>

              <md-list-item
                href="https://www.instagram.com/senamimodel/"
                target="_blank"
              >
                <i class="fab fa-instagram"></i>
                <p class="hidden-lg">Instagram</p>
                <md-tooltip md-direction="bottom"
                  >Follow me on Instagram</md-tooltip
                >
              </md-list-item>
            </md-list>
          </div>
        </div>
      </div>
    </div>
  </md-toolbar>
</template>

<script>
let resizeTimeout
function resizeThrottler(actualResizeHandler) {
  // ignore resize events as long as an actualResizeHandler execution is in the queue
  if (!resizeTimeout) {
    resizeTimeout = setTimeout(() => {
      resizeTimeout = null
      actualResizeHandler()

      // The actualResizeHandler will execute at a rate of 15fps
    }, 66)
  }
}

import MobileMenu from "@/layout/MobileMenu"
export default {
  components: {
    MobileMenu
  },
  props: {
    type: {
      type: String,
      default: "white",
      validator(value) {
        return [
          "white",
          "default",
          "primary",
          "danger",
          "success",
          "warning",
          "info"
        ].includes(value)
      }
    },
    colorOnScroll: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      extraNavClasses: "",
      toggledClass: false,
      navbarTransparent: true
    }
  },
  computed: {
    showDownload() {
      const excludedRoutes = ["login", "landing", "profile"]
      return excludedRoutes.every(r => r !== this.$route.name)
    }
  },
  methods: {
    bodyClick() {
      let bodyClick = document.getElementById("bodyClick")

      if (bodyClick === null) {
        let body = document.querySelector("body")
        let elem = document.createElement("div")
        elem.setAttribute("id", "bodyClick")
        body.appendChild(elem)

        let bodyClick = document.getElementById("bodyClick")
        bodyClick.addEventListener("click", this.toggleNavbarMobile)
      } else {
        bodyClick.remove()
      }
    },
    toggleNavbarMobile() {
      this.NavbarStore.showNavbar = !this.NavbarStore.showNavbar
      this.toggledClass = !this.toggledClass
      this.bodyClick()
    },
    handleScroll() {
      let scrollValue =
        document.body.scrollTop || document.documentElement.scrollTop
      let navbarColor = document.getElementById("toolbar")
      this.currentScrollValue = scrollValue
      if (this.colorOnScroll > 0 && scrollValue > this.colorOnScroll) {
        this.extraNavClasses = `md-${this.type}`
        navbarColor.classList.remove("md-transparent")
        this.navbarTransparent = false
      } else {
        if (this.extraNavClasses) {
          this.extraNavClasses = ""
          navbarColor.classList.add("md-transparent")
          this.navbarTransparent = true
        }
      }
    },
    scrollListener() {
      resizeThrottler(this.handleScroll)
    },
    scrollToElement() {
      let element_id = document.getElementById("contactMe")
      if (element_id) {
        element_id.scrollIntoView({ block: "end", behavior: "smooth" })
      }
    }
  },
  mounted() {
    document.addEventListener("scroll", this.scrollListener)
  },
  beforeDestroy() {
    document.removeEventListener("scroll", this.scrollListener)
  }
}
</script>
