<template>
  <footer
    class="footer"
    :class="{ [`footer-${type}`]: type }"
    :data-background-color="backgroundColor"
  >
    <div class="container">
      <div class="copyright">
        Made with
        <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a>
        Template. <md-icon>favorite</md-icon>
      </div>
      <div class="copyright">
        &copy; 2021 Senami Model, All rights reserved.
        <md-icon>photo_camera</md-icon>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    backgroundColor: String,
    type: String
  }
}
</script>

<style></style>
